<div class="jibarito-block">
    <div class="container block">
      <div class="content__header jibarito">
        The Jibarito sandwich 
        <div>the best sandwich you’ve ever tasted!</div>            
      </div>
      <div class="jibarito-content">
        <div class="jibarito-content__block">
          <div class="jibarito__column">
            <div class="column__image one"></div>
            Class aptent
            <p>Quot alienum persecuti ut eam, nam ad <br>  atqui primis nusquam.</p>
          </div>
          <div class="jibarito__column">
            <div class="column__image two"></div>
            Nulla eget
            <p>Nullam dictum felis eu pede mollis <br> pretium Integer tincidunt.</p>
          </div>
          <div class="jibarito__column">
            <div class="column__image three"></div>
            Sed nibh purus
            <p>Aenean eleifend tellus leo ligula,<br>  porttitor eu, consequat vitae.</p>
          </div>
        </div>
        <div class="jibarito-content__block">
          <div class="jibarito__right-content">
            <div class="right-content__image">
              <img src="./img/jibarito/jibarito-img.jpg">
              <div class="image__button center">
                <a href="">full recipe</a>
              </div>
              <div class="right-content__column">                
                <div class="column__item">
                  <div class="prep">prep</div>
                  <div class="time">15</div> 
                  <div class="mins"> mins</div>
                </div>
                <div class="column__item">
                  <div class="prep">cook</div>
                  <div class="time">35</div> 
                  <div class="mins"> mins</div>
                </div>
                <div class="column__item">
                  <div class="transparent">
                  <div class="prep">ready in</div>
                  <div class="time">50</div> 
                  <div class="mins">mins</div> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>