//The jibarito sandwich

.jibarito-block{
    background-color: #f3f1e8;
    padding: 100px 0 60px;
}

.block {
    width: 100%;
    text-align: center;
}
  
.jibarito {
    padding-bottom: 0;
}
  
.jibarito-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.jibarito-content__block {
    max-width: 100%;
}
  
.jibarito__column {
    font-size: 1.875em;
    letter-spacing: 0.03em;
    color: #a47d5e;
    font-weight: 700;
}
  
.jibarito__column:last-child {
    padding-bottom: 0;
}
  
.jibarito__column .border__image {
    margin: 1vw auto 2vw;
}
  
.jibarito__column p{
    width: 100%;
    font-size: 0.47em;
    letter-spacing: 0.09em;
    color: #56534c;
    font-family: 'Hind', sans-serif;
    padding: 1vw;
}
  
.one {
    background-image: url("./img/jibarito/block3-1.jpg");
}
  
.two {
    background-image: url("./img/jibarito/block3-2.jpg");
}
  
.three {
    background-image: url("./img/jibarito/block3-3.jpg");
}
  
.jibarito__right-content {
    display: flex;
}
  
.right-content__image {
    max-width: 50em;
    border: 5px solid #fff;
    position: relative;
    filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.54));
}
  
.right-content__image img {
    object-fit:cover;
    width: 100%;
    height: 100%;
}
  
.image__button{
    padding: 1vw 1.5vw;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top:95%;
    left:-4%;
    border: 0.12vw dashed #dfc691;
}
  
.image__button a {
    font-size: 1.125em;
    letter-spacing: 0.05em;
    color: #dfc691;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
  
.image__button a:hover {
    color: #f1bc48;
    text-decoration: underline;
}
  
.right-content__column {
    width: 12.5vw;
    position: absolute;
    top:-6%;
    right: 0.1%;
    background-color: rgba(255, 255, 255, 0.801);
}

.column__item {
    padding: 2.7vw 2vw;
   // height: 33.3%;
    max-width: 100%;
   //display: flex;
    //flex-direction: column;
    //justify-content: center;  
}
  
.column__item:first-child {
    border-bottom: 0.2vw solid rgba(248, 216, 75, 0.582);
}
  
.prep {
    font-size: 1em;
    letter-spacing: 0.2em;
    color: #a47d5e;
    font-weight: 700;
    text-transform: uppercase;
}
  
.time{
    font-size: 3em;
    letter-spacing: 0.2em;
    color: #56534c;
    font-weight: 700;
}
  
.mins {
    font-size: 1em;
    letter-spacing: 0.2em;
    color: #777369;
    font-weight: 700;
}
  
.column__item:last-child {
    background-color: #fff;
    background-image: url("./img/jibarito/vector_jibarito.svg");
    background-repeat: no-repeat;
    background-size: cover;
    //padding: 1.4vw 0 1.5vw;
}
  
.transparent {
    background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}
  
.transparent .prep {
    font-size: 1.2em;
}
  
.transparent .time {
    font-size: 4.8em;
    color: #e2b28a;
}

@media (max-width:1200px) {
    .right-content__column {
        width: 150px;
    }
}

@media (max-width:995px) {
    .right-content__column {
        width: 135px;
    }
}

@media (max-width:767px) {
    .jibarito-block {
        display: block;
        padding: 30px 0;
    }

   .jibarito-content {
       display: block;
       padding-top: 15px;
   }

   .jibarito-content__block {
       padding: 15px;
   }

   .jibarito__right-content {
       justify-content: center;
   }

   .right-content__column {
       width: 25%;
   }

   .column__item {
       font-size: 8px;
       padding: 2vw; 
   }
}