//Pastry with love

.main-block {
    background-image: url('./img/header/bg_bread.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
  
.block-shadow {
    background-image: url("./img/header/bg_shadow.png");
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
}
  
.block-navigation {
    background-color: #56534c6e;
    width: 100%;
    height: 8vh;
}
  
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.logo {
    font-family: 'Great Vibes', cursive;
    margin: auto 0;
    font-size: 1.875em;
    color: #fff;
    letter-spacing: 0.5em;
}
  
#check-menu {
    display: none;
}

.navigation-menu {
    letter-spacing: 0.2em;
}
  
.navigation-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.main-block a {
    color:#fff;
    text-decoration: none;
}
  
.main-block a:hover {
    color: #24221f;
    cursor: pointer;
}
  
.navigation-menu__item {
    font-size: 0.875em;
    letter-spacing: 0.28em;
    line-height: 1.71em;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
  
.navigation-menu__item:after {
    content:'~';
    color: #fff;
    margin: 0 1.8em;
}

.navigation-menu__item:last-child {
    margin-right: 0;
}

.navigation-menu__item:first-child {
    margin-left: 0;
}
 
.navigation-menu__item:last-child:after {
    content: ''; 
    margin:0;
}

.navigation-icons img {
    max-width: 100%;
}
  
.icon {
    padding: 0 0.5em;
}
  
.icon:last-child{
    padding-right: 0;
}

.content {
    height: 92%;
}
  
.content-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
  
.content-container div{
    margin-bottom: 70px;
}
  
.content-header {
    font-size: 5.75em;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    filter: drop-shadow(0px 1px 0px #3d3029);
}
  
.content-text {
    font-size: 1.5em;
    letter-spacing: 0.125em;
    color: #ffffff;
    font-family: 'Hind', sans-serif;
    text-align: center;
    filter: drop-shadow(0px 1px 0px #3d3029);
}
  
.content-button {
    display: inline-block;
    padding: 20px 45px;
    color: #fff;
    text-transform: uppercase;
    background-color: #56534ca1;
    letter-spacing: 0.25em;
    font-size: 0.875em;
}

@media (max-width:995px) {

    .content-container div{
        margin-bottom: 30px;
    }

    .content-button {
        padding: 15px 25px;
  }
}

@media (max-width:767px) {

    .logo {
        font-size: 2.5em;
        order:1;
    }

    .menu {
        width: 40px;
        height: 8vh;
        position: relative;
        text-align: center;
    }
    
    #check-menu {
        display: none;
    }

    .menu-label {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: 2;
        cursor: pointer;
    }
    
    .burger {
        width: 35px;
        height: 2px;
        position: absolute;
        top: 30%;
        right: 2px;
        background-color: #fff;
        transition: 0.5s all;
    }

    .center.navigation-menu {
        display: block;
        position: absolute;
        top:8vh;
        left:-200px;
        overflow: hidden;
        transition: 0.5s all;
    }

    #check-menu:checked ~ .center.navigation-menu {
        height: 92vh;
        width: 100vw;
        font-size: 16px;
        padding: 30px 15px;
        left: -15px;
        background-color: #56534ce5;
        z-index: 2;
    }

    .second-line, 
    .third-line {
        top: 50%;
    }

    .fourth-line {
        top: 70%;
    }

    #check-menu:checked ~ .first-line,
    #check-menu:checked ~ .fourth-line {
        display: none;
    }

    #check-menu:checked ~ .second-line {
        transform: rotate(45deg);
    } 

    #check-menu:checked ~ .third-line {
        transform: rotate(-45deg);
    } 

    .navigation-menu__item:after {
        margin: 0;
        font-size: 0;
    }

    .navigation-menu__item {
        padding: 10px;
        text-align: start;
    }

    .navigation-icons {
        order:1;
    } 
}