<div class="footer">
    <div class="container footer-align">
      <div class="footer-items">
        <div class="navigation-menu__item footer__item">
          <a href=" ">our menu</a>
        </div>
        <div class="navigation-menu__item footer__item">
          <a href=" ">gallery</a>
        </div>
        <div class="navigation-menu__item footer__item">
          <a href=" ">culture</a>
        </div>
      </div>
      <div class="logo footer-logo">
        <a href=" ">Gustoso</a> 
      </div>
      <div class="footer-items">
        <div class="navigation-menu__item footer__item">
          <a href=" ">events</a>
        </div>
        <div class="navigation-menu__item footer__item">
          <a href=" ">catering</a>
        </div>
        <div class="navigation-menu__item footer__item">
          <a href=" ">visit us</a>
        </div>
      </div>
    </div>
  </div>