//footer

.footer {
    background-color: #f3f1e8;
    margin: 0 auto;
    padding: 60px 0;
}
  
.footer-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.footer-logo{
    color: #56534c;
}
  
.footer-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #c2beba;;
    border-bottom: 1px solid #c2beba;;
    filter: drop-shadow(0px 35px 21.5px rgba(0,0,0,0.38));
    padding: 1.5em 2.5em;
}
  
.footer a {
    color: #56534c;
    text-decoration: none;
}
  
.footer a:hover {
    font-weight: 700;
    cursor: pointer;
}
  
.footer-items__item {
    font-size: 0.8em;
    letter-spacing: 0.4em;
    color: #56534c;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1.5vw 2vw;
    position: relative;
}
  
.navigation-menu__item.footer__item:after {
    color:  #56534c;
}
  
@media (max-width:767px) {
    .footer {
        padding: 25px 0;
    }
    .footer-items {
        padding: 1em 2em;
    }
    .navigation-menu__item.footer__item:after,
    .navigation-menu__item.footer__item:before {
        display: none;
    }
    .footer-align {
       display: block;
       justify-items: center;
    }
    .footer-logo {
        text-align: center;
        padding: 20px;
        font-size: 2.2em;
    }
    .footer__item {
        line-height: 4em;
    }
}
