//footer

.footer {
    background-color: #f3f1e8;
    margin: 0 auto;
    padding: 60px 0;
}
  
.footer-align {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.footer-logo{
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
    line-height: 1.2vw;
    color: #56534c;
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
    margin: 1.5vw;
}
  
.footer-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #c2beba;;
    border-bottom: 1px solid #c2beba;;
    filter: drop-shadow(0px 35px 21.5px rgba(0,0,0,0.38));
    padding: 0 5px;
}
  
.footer a {
    color: #56534c;
    text-decoration: none;
}
  
.footer a:hover {
    font-weight: 700;
    cursor: pointer;
}
  
.footer-items__item {
    font-size: 0.8vw;
    letter-spacing: 0.4vw;
    color: #56534c;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1.5vw 2vw;
    position: relative;
}
  
.navigation-menu__item.footer__item:after {
    color:  #56534c;
}
  
