<div id=2 class="services">
    <div class="container">
      <div class="block">
        <h2 class="style-header">Услуги</h2>
        <p>
          Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, 
          но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., 
          то есть более двух тысячелетий назад. 
        </p>
        <div class="block-items">
          <div class="block-item">Graphic Design</div>
          <div class="block-item">Illustration</div>
          <div class="block-item">Web Design</div>
          <div class="block-item">Photography</div>
        </div>
        <div class="block-images">
          <div class="block-image services-1"></div>
          <div class="block-image services-2"></div>
          <div class="block-image services-3"></div>
          <div class="block-image services-4"></div>
        </div>
        <div class="block-button">
          Еще работы
        </div>
      </div>            
    </div>
  </div>