<div id=2 class="services">
  <div class="container">
    <div class="block">
      <h2 class="style-header">Услуги</h2>
      <p>
        Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, 
        но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., 
        то есть более двух тысячелетий назад. 
      </p>
      <div class="block-tabs">
        <div class="block-tabs__items">
          <input class="tab-input" type="radio" name="tabs2" id="tab1" checked="checked">
          <input class="tab-input" type="radio"  name="tabs2" id="tab2">
          <input class="tab-input" type="radio"  name="tabs2" id="tab3">
          <input class="tab-input" type="radio"  name="tabs2" id="tab4">
          <label class="block-item active-1" for="tab1">Graphic Design</label>
          <label class="block-item active-2" for="tab2">Illustration</label>
          <label class="block-item active-3" for="tab3">Web Design</label>
          <label class="block-item active-4" for="tab4">Photography</label>
          <div class="block-tab-image content-1">
            <div class="block-images">
              <div class="block-image services-1"></div>
              <div class="block-image services-2"></div>
              <div class="block-image services-3"></div>
              <div class="block-image services-4"></div>
            </div>
          </div>
          <div class="block-tab-image content-2">
            <div class="block-images">
              <div class="block-image services-4"></div>
              <div class="block-image services-3"></div>
              <div class="block-image services-2"></div>
              <div class="block-image services-1"></div>
            </div>
          </div>
          <div class="block-tab-image content-3">
            <div class="block-images">
              <div class="block-image services-3"></div>
              <div class="block-image services-2"></div>
              <div class="block-image services-1"></div>
              <div class="block-image services-4"></div>
            </div>
          </div>
          <div class="block-tab-image content-4">
            <div class="block-images">
              <div class="block-image services-2"></div>
              <div class="block-image services-4"></div>
              <div class="block-image services-3"></div>
              <div class="block-image services-1"></div>
            </div>
          </div>
        </div>    
        <div class="block-button">
          Еще работы
        </div>
      </div>            
    </div>
  </div>
</div>