.services {
    background-color: #e8e8e8; 
}
  
.services .block-image {
    width: 270px;
    height: 270px;
}
  
.services-1,
.services-2,
.services-3,
.services-4 {
    background-repeat: no-repeat;
    background-position: 55% 6%;
}
  
.services-1 {
    background-image: url("./img/services/serv-1.jpg");
}
  
.services-2 {
    background-image: url("./img/services/serv-2.jpg");
}
  
.services-3 {
    background-image: url("./img/services/serv-3.jpg");
}
  
.services-4 {
    background-image: url("./img/services/serv-4.jpg"); 
}

#tab1:checked ~ .content-1,
#tab2:checked ~ .content-2,
#tab3:checked ~ .content-3,
#tab4:checked ~ .content-4 {
    display: block;
}