<div class="portfolio">
    <div class="container">
      <div class="block">
        <h2 class="style-header">Портфолио</h2>
        <p>
          Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
          Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, 
          а также реальное распределение букв и пробелов в абзацах.
        </p>
        <div class="block-items">
          <div class="block-item">Сайдинг</div>
          <div class="block-item">Окна ПВХ</div>
          <div class="block-item">Водосток</div>
          <div class="block-item">Козырьки и беседки</div>
          <div class="block-item">Дренажная система</div>
        </div>
        <div class="block-images">
          <div class="block-image portfolio-1"></div>
          <div class="block-image portfolio-2"></div>
          <div class="block-image portfolio-3"></div>
          <div class="block-image portfolio-4"></div>
          <div class="block-image portfolio-5"></div>
        </div>
        <div class="block-button">
          Еще работы
        </div>
      </div>
    </div>
  </div>