<div id=1 class="portfolio">
  <div class="container">
    <div class="block">
      <h2 class="style-header">Портфолио</h2>
      <p>
        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, 
        а также реальное распределение букв и пробелов в абзацах.
      </p>
      <div class="block-tabs">
        <div class="block-tabs__items">
          <input class="tab-input" type="radio" name="tabs" id="tab-1" checked="checked">
          <input class="tab-input" type="radio"  name="tabs" id="tab-2">
          <input class="tab-input" type="radio"  name="tabs" id="tab-3">
          <input class="tab-input" type="radio"  name="tabs" id="tab-4">
          <input class="tab-input" type="radio"  name="tabs" id="tab-5">
          <label class="block-item active-1" for="tab-1">Сайдинг</label>
          <label class="block-item active-2" for="tab-2">Окна ПВХ</label>
          <label class="block-item active-3" for="tab-3">Водосток</label>
          <label class="block-item active-4" for="tab-4">Козырьки и беседки</label>
          <label class="block-item active-5" for="tab-5">Дренажная система</label>
          <div class="block-tab-image content-1">
            <div class="block-images">
              <div class="block-image portfolio-1"></div>
              <div class="block-image portfolio-2"></div>
              <div class="block-image portfolio-3"></div>
              <div class="block-image portfolio-4"></div>
              <div class="block-image portfolio-5"></div>
            </div>
          </div>
          <div class="block-tab-image content-2">
            <div class="block-images">
              <div class="block-image portfolio-3"></div>
              <div class="block-image portfolio-2"></div>
              <div class="block-image portfolio-1"></div>
              <div class="block-image portfolio-5"></div>
              <div class="block-image portfolio-4"></div>
            </div>
          </div>
          <div class="block-tab-image content-3">
            <div class="block-images">
              <div class="block-image portfolio-5"></div>
              <div class="block-image portfolio-1"></div>
              <div class="block-image portfolio-4"></div>
              <div class="block-image portfolio-3"></div>
              <div class="block-image portfolio-2"></div>
            </div>
          </div>
          <div class="block-tab-image content-4">
            <div class="block-images">
              <div class="block-image portfolio-4"></div>
              <div class="block-image portfolio-5"></div>
              <div class="block-image portfolio-3"></div>
              <div class="block-image portfolio-2"></div>
              <div class="block-image portfolio-1"></div>
            </div>
          </div>
          <div class="block-tab-image content-5">
            <div class="block-images">
              <div class="block-image portfolio-2"></div>
              <div class="block-image portfolio-5"></div>
              <div class="block-image portfolio-1"></div>
              <div class="block-image portfolio-3"></div>
              <div class="block-image portfolio-4"></div>
            </div>
          </div>
        </div>        
        <div class="block-button">
          Еще работы
        </div>
      </div>
    </div>
  </div>
</div>
 
         