<div id=1 class="portfolio">
    <div class="container">
      <div class="block">
        <h2 class="style-header">Портфолио</h2>
        <p>
          Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
          Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, 
          а также реальное распределение букв и пробелов в абзацах.
        </p>
        <div class="block-tabs">
          <div class="block-items">
            <a href="#images1" class="block-item">Сайдинг</a>
            <a href="#images2" class="block-item">Окна ПВХ</a>
            <a href="#images3" class="block-item">Водосток</a>
            <a href="#images4" class="block-item">Козырьки и беседки</a>
            <a href="#images5" class="block-item">Дренажная система</a>
          </div>
          <div class="tab-images">
            <div id=images1 class="tab">
              <div class="block-images">
                <div class="block-image portfolio-1"></div>
                <div class="block-image portfolio-2"></div>
                <div class="block-image portfolio-3"></div>
                <div class="block-image portfolio-4"></div>
                <div class="block-image portfolio-5"></div>
              </div>
            </div>
            <div id=images2 class="tab">
              <div class="block-images">                
                <div class="block-image portfolio-1"></div>
                <div class="block-image portfolio-2"></div>
                <div class="block-image portfolio-3"></div>
                <div class="block-image portfolio-4"></div>
                <div class="block-image portfolio-5"></div>
              </div>
            </div>
            <div id=images3 class="tab">
              <div class="block-images">
                <div class="block-image portfolio-1"></div>
                <div class="block-image portfolio-2"></div>
                <div class="block-image portfolio-3"></div>
                <div class="block-image portfolio-4"></div>
                <div class="block-image portfolio-5"></div>
              </div>
            </div>
          </div>
          <div class="block-button">
            Еще работы
          </div>
        </div>
      </div>
    </div>
  </div>