.bg-portfolio {
    background-color: #ffffff;
  }
  
.style-header {
    font-size: 2.19rem;
    line-height: 1.44rem;
    color: #000000;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
  
.style-header.white {
    color: #ffffff;
}
  
.block {
    max-width: 100%;
}
  
.block>p {
    margin-bottom: 35px;
    font-size: 0.94rem;
    line-height: 1.44rem;
    color: #000000;
    font-weight: 400;
}
  
.block-images  {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
  
.block-tabs__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.block-item {
    font-size: 0.94rem;
    line-height: 1.44rem;
    color: #000000;
    font-weight: 700;
    margin-right: 50px;
    margin-bottom: 40px;
    white-space: nowrap;
}

.block-item:hover { 
    cursor: pointer;
}
  
.block-item:after {
    content:'';
    height: 7px;
    display: block;
}
  
.block-item:hover:after {  
    background-color: #9e130c;
    transition: 0.5s;
}

.block-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 10px;
}
  
.portfolio-1,
.portfolio-2,
.portfolio-3,
.portfolio-4,
.portfolio-5 {
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.portfolio-1 {
    background-image: url("./img/portfolio/portfolio-1.jpg");
}
  
.portfolio-2 {
    background-image: url("./img/portfolio/portfolio-2.jpg");
}
  
.portfolio-3 {
    background-image: url("./img/portfolio/portfolio-3.jpg");
}
  
.portfolio-4 {
    background-image: url("./img/portfolio/portfolio-4.jpg"); 
}
  
.portfolio-5 {
    background-image: url("./img/portfolio/portfolio-5.jpg"); 
}
  
.tab-input {
    opacity:0;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    left: -50px;
}

.block-tab-image {
    width: 100%;
    display: none;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2,
#tab-3:checked ~ .content-3,
#tab-4:checked ~ .content-4,
#tab-5:checked ~ .content-5 {
    display: block;
}

#tab-1:checked ~ .block-item.active-1:after,
#tab-2:checked ~ .block-item.active-2:after,
#tab-3:checked ~ .block-item.active-3:after,
#tab-4:checked ~ .block-item.active-4:after,
#tab-5:checked ~ .block-item.active-5:after {
    background-color: #9e130c;
}

.block-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 44px;
    background-color: #b4b4b4;
    border: 3px solid #9e130c;
}
  
.block-button:hover {
    cursor: pointer;
    background-color: #9e130c;
    border: 3px solid #9e130c;
    transition: 0.3s;
}

@media (max-width:730px) {

    .style-header {
        font-size: 30px;
    }

    .block-image {
        width: 150px;
        height: 150px;
    }

    .block-item {
        margin-bottom: 15px;
    }
}
