<div id=4 class="section bg-contacts">
    <div class="container">
      <h2 class="style-header white">Контакты</h2>
      <div class="contacts-block">
        <div class="contacts-block__info">
          <p class="contacts-block__title">Наш офис</p> 
          <div class="contacts-block__text">
            <p>246028, г. Гомель, ул. Головацкого 51</p>
            <p>Факс: 8(029) 605 56 92</p>
            <p>МТС: 8(029) 288 11 11</p>
          </div>
          <p class="contacts-block__title">Контактные номера</p>
          <div class="contacts-block__text">
            <p>МТС: 8(029) 588 11 11</p>
            <p>Velcom: 8(044) 588 11 55 </p>
          </div>
        </div>
        <div class="contacts-block__forms">
          <p class="forms-title">Напишите нам и мы обязательно с Вами свяжемся.</p>
          <form action="#" method="POST">
            <div class="forms-left">                    
              <div>
                <label> 
                  <p>Имя</p>
                  <input type="text" name="Name" required>
                </label>
              </div>
              <div>
                <label>
                  <p>Телефон</p>
                  <input type="text" name="Telephon" required>
                </label>
              </div>
              <div>
                <label>
                  <p>E-mail</p>
                  <input type="text" name="Email">
                </label>
              </div>                   
            </div>
            <div class="forms-right">
              <label>
                <p>Сообщение</p>
                <textarea type="text" name="Message" required></textarea>
              </label>
              <p>* - Поля обязательны для заполнения.</p>
              <button>Отправить</button>
            </div>
          </form>
        </div>
      </div>
      <div class="contacts-map">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1190" height="560" id="gmap_canvas" src="https://maps.google.com/maps?q=Gomel%20Golovatskogo%2051&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/nordvpn-coupon/">nord coupon code</a></div><style>.mapouter{position:relative;text-align:right;height:560px;width:1190px;}.gmap_canvas {overflow:hidden;background:none!important;height:560px;width:1190px;}</style></div>
      </div>
    </div>
  </div>