<div class="container">
    <div class="main">
      <div class="main-image">
        <div class="img-bg image-1">
          <a href="google.com" title="Стеклопакеты"></a>
        </div>
      </div>
      <div class="main-image">
        <div class="img-bg image-2">
          <a href="#" title="Сайдинг, фасадные панели, софит"></a>
        </div>
      </div>
      <div class="main-image">
        <div class="img-bg image-3">
          <a href="#" title="Окна и двери"></a>
        </div>
      </div>
      <div class="main-image">
        <div class="img-bg image-4">
          <a href="#" title="Пенопласт и минеральная вата"></a>
        </div>
      </div>
      <div class="main-image">
        <div class="img-bg image-5">
          <a href="#" title="Металлоконструкции"></a>
        </div>
      </div>
      <div class="main-image">
        <div class="img-bg image-6">
          <a href="#" title="Строительные материалы"></a>
        </div>
      </div>
      <div class="main-image">
        <div class="img-bg image-7">
          <a href="#" title="Изделия из жести"></a>
        </div>
      </div>            
    </div>
  </div>

 <!-- -->