<div class="container">
    <div class="main">
      <div class="rhombus">
      <div class="main-image">
        <a href="google.com" title="Стеклопакеты">
          <div class="img-bg image-1"></div>
        </a>
      </div>
      <div class="main-image">
        <a href="#" title="Металлоконструкции">
          <div class="img-bg image-2"></div>
        </a>
      </div>
      <div class="main-image">
        <a href="#" title="Окна и двери">
          <div class="img-bg image-3"></div>
        </a>
      </div>
      <div class="main-image">
        <a href="#" title="Изделия из жести">
          <div class="img-bg image-4"></div>
        </a>
      </div>
      <div class="main-image">
        <a href="#" title="Сайдинг, фасадные панели, софит">
          <div class="img-bg image-5"></div>
        </a>
      </div>
      <div class="main-image">
        <a href="#" title="Пенопласт и минеральная вата">
          <div class="img-bg image-6"></div>
        </a>
      </div>
      <div class="main-image">
        <a href="#" title="Строительные материалы">
          <div class="img-bg image-7"></div>
        </a>
      </div> 
      </div>           
    </div>
  </div>

 <!--
     -->