.main {
    display:flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
  }
  
  .main-image {
    position: relative;
    width: 270px;
    height: 270px;
    
  }
  
  .main-image:nth-child(odd) {
   //position: relative;
  }
  
  .main-image:nth-child(even) {
    position: absolute;
    top: 50%;
  }
  
  .main-image:nth-child(2) {
    left: 26.2%;
  }
  
  .main-image:nth-child(4) {
    left: 42.8%;
  }
  
  .main-image:nth-child(6) {
    left: 59.5%;
  }
  
  .main-image:hover {
    cursor: pointer;
  }
  
  .main-image:after {
    content: '';
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 1;
    width: 190px;
    height: 190px;
    background-color: #dbdfe1;
    transform: rotate(45deg);
  }

  .main-image:nth-child(even):after {
    background-color: #e6e6e6af;
  }

  .main-image:hover:after{
    background-color: #9e130c;
  }

  .img-bg {
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    max-width: 270px;
    height: 270px;
    background-position: 50%;
  }
  
  .image-1 {
    background-image: url("./img/rombs/romb-1.png");
  }
  
  .image-2 {
    background-image: url("./img/rombs/romb-2.png");
  }
  
  .image-3 {
    background-image: url("./img/rombs/romb-3.png");
  }
  
  .image-4 {
    background-image: url("./img/rombs/romb-4.png");
  }
  
  .image-5 {
    background-image: url("./img/rombs/romb-5.png");
  }
  
  .image-6 {
    background-image: url("./img/rombs/romb-6.png");
  }
  
  .image-7 {
    background-image: url("./img/rombs/romb-7.png");
  }
  
  .main-image>a {
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 700;
  }