@import './partials/header/header.scss';
@import './partials/footer/footer.scss';
@import './partials/art/art.scss';
@import './partials/jibarito/jibarito.scss';
@import './partials/star/star.scss';
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');

body * {
  outline: 1px solid lightgrey;
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding:0;
}

.container {
  max-width: 1290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//border-line

.wrapper {
  width: 100%;
}

.bread-line{
  background-color: #fff;
  height: 1vh;
  position: relative;
}

.circle-border {
  width: 6vw;
  height: 6vw;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.bread-icon {
  width: 70%;
  height: 70%;
  background-image: url("./img/header/bread.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

//Tasty pancakes

.tasty-block{
  background-image: url("./img/tasty/block3-bg.jpg");
  margin: 0 auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  
    
}

.tasty {
  padding: 140px 15px 105px;
  max-width: 1070px;
  margin:0 auto;
  display:flex;
  justify-content: center;
  filter: drop-shadow(0px 10px 5px #4b48487e);
}

.tasty-left-block {
  width: 35%;
}

.tasty-left-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tasty-right-block {
  width: 60%;
  display: inline-block;
  padding: 80px 60px 35px;
  background-color: #fff;
  //background-image:url("./img/tasty/vector-tasty.svg");
  //background-size: cover;
  //background-repeat: no-repeat;
  position: relative;
}

.tasty-right-block .content__header {
  padding-bottom: 60px;
}

.right-ready {
  width: 12.5vw;
  height: 12.5vw;
  position: absolute;
  top:-2.75vw;
  right: -6.25vw;
  background-color: rgb(255, 255, 255);
  text-align: center;
  filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.54));
}

.tasty__item {
  background-color: #fff;
  background-image: url("./img/jibarito/vector_jibarito.svg");
  background-repeat: no-repeat;
  background-size: cover; 
}

.transparent {
  background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}

.transparent .prep {
  font-size: 1.2vw;
}

.transparent .time {
  font-size: 4.8vw;
  color: #e2b28a;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.tasty-widget__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.tasty-widget__chevron{ 
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.56vw;
  font-weight: 700;
  border: 2px solid #56534c;  
  color: #56534c;
}


.tasty-widget__chevron:hover {
  cursor: pointer;
  color: #d8bba3;
  border: 2px solid #d8bba3;
}

.tasty-widget__chevron .active {
  color: #d8bba3;
}

.border__image {
  background-repeat: no-repeat;
  width: 5.5vw;
  height: 5.5vw;
  background-size: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 10px 5px #4b48487e);
  margin: 0 15px;
}

.tasty1 {
  background-image: url("./img/tasty/tasty1.jpg");
}

.tasty2 {
  background-image: url("./img/tasty/tasty2.jpg");
}

.tasty3 {
  background-image: url("./img/tasty/tasty3.jpg");
}

.tasty .circle-border {
  left:0;
  width: 3vw;
  height: 3vw;
}