@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './partials/portfolio/portfolio.scss';
@import './partials/mainblock/mainblock.scss';

body * {
  outline: 1px solid lightgrey;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h2,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 8px 0;
}

.header {
  background-color: #131313; 
  position: fixed;
  z-index: 3;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-menu {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 20px;
}

.header-item:after {
  content: '';
  height: 7px;
  display: block;
}

.header-item:nth-child(2),
.header-item:last-child {
  margin-right: 0;
}

.header-item a {
  text-decoration: none;
  padding: 0 15px;
  color: #b3b3b3;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.header-item a:hover {
  cursor: pointer;
  color: #ffffff;
}

.header-item:hover:after {
  background-color: #9e130c;
}

.header-logo {
  width: 270px;
  text-align: center;
  padding-right: 35px;
  padding-left: 35px;
}

.header-logo a>img {
  max-width: 100%;
}

// main-content

.wrapper {
  width: 100%;
}

.main-bg {
  height: 100vh;
  background-image: url("./img/rombs/romb-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

//portfolio

.portfolio,
.services,
.feedback,
.contacts {
  padding: 65px 0 75px 0;
}

//services

.services {
  background-color: #e8e8e8;
}

.services .block-image {
  width: 270px;
  height: 270px;
}

.services-1,
.services-2,
.services-3,
.services-4 {
  background-repeat: no-repeat;
  background-position: 55% 6%;
}

.services-1 {
  background-image: url("./img/services/serv-1.jpg");
}

.services-2 {
  background-image: url("./img/services/serv-2.jpg");
}

.services-3 {
  background-image: url("./img/services/serv-3.jpg");
}

.services-4 {
  background-image: url("./img/services/serv-4.jpg"); 
}

//feedback

.feedback {
  background-color: #3a3a3a;
}

//contacts

.contacts {
  background-color: #131313;
}

//footer

.footer {
  padding: 25px 0;
  background-color: #000000;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Font Awesome";
}