body * {
  outline: 1px solid lightgrey;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.slider {
  height: 200px;
  background-image: url(../../img/oranges.jpg);
  border-top: 5px solid black;
  border-bottom: 5px solid black;

}
.slider-container {
  height: 100%;
}

.slider-line {
  text-align: center;
  text-transform: uppercase;
  padding: 7px 15px;
}

.slider-line.first {
  background-color: rgb(126, 122, 122);
  margin-bottom: 20px;
  color: rgb(223, 161, 46);
}

.slider-line.second {
  background-color: rgb(223, 161, 46);
  color: rgb(126, 122, 122);
}