@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body * {
  outline: 1px solid lightgrey;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url('./img/header/bg_bread.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.header-bgshadow {
  background-image: url("./img/header/bg_shadow.png");
  background-position: top center;
  background-repeat: no-repeat;
  height: 900px;
}

.container {
  max-width: 1260px;
  margin: auto;
}

.navigation-wrapper {
  background-color: #56534c6e;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  
} 

.navigation-logo {
  margin: auto 0;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 0.6em;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya', serif;
  letter-spacing: 0.3em;
}

.navigation-menu__item {
  font-family: 'Alegreya', serif;
  color: #fff;
  font-size: 0.88em;
  text-transform: uppercase;
}

.dash {
  color: #fff;
  padding: 0 30px;
}

.navigation-menu__item:hover {
  text-decoration: underline;
}

.navigation-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  color:#fff;
  text-decoration: none;
}

a:hover {
  color: #24221f;
  cursor: pointer;
}

.icon {
  padding-right: 30px;
}

.instagram {
  padding-right: 0;
}


.title {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
}

.title-header {
  font-size: 6em;
  font-family: 'Playfair Display', serif;
  color: #fff;
  letter-spacing: 0.04em;
  word-spacing: 0.2em;
  padding-bottom: 5%;
  text-align: center;
}

.title-line {
  padding-bottom: 4%;
}

.title-text {
  padding-top: 1%;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Alegreya', serif;
  letter-spacing: 0.15em;
  padding-bottom: 3%;
  text-align: center;
}

.title-button {
  display: inline-block;
  padding: 1% 5%;
  color: #fff;
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
  background-color: #56534ca1;
  letter-spacing: 0.3em;
  font-size: 0.84em;
}