<div id=3 class="feedback">
  <div class="container">
    <h2 class="style-header white">Отзывы</h2>
      <div class="your-class">
        <div>
          <div class="feedback-slider__item">
            <div class="feedback-image">
              <img src="/img/feedback/feedback-1.jpg">
            </div>
            <div class="feedback-text">
              <p>Иван Иванов</p>
              <p>Предприниматель</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, 
                            but also the leap into electronic typesetting, remaining essentially unchanged.
              </p>
            </div>
          </div>
        </div>
        <div> 
          <div class="feedback-slider__item">
            <div class="feedback-image">
              <img src="/img/feedback/feedback-2.jpg">
            </div>
            <div class="feedback-text">
              <p>Михаил Манн</p>
              <p>Предприниматель</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, 
                            but also the leap into electronic typesetting, remaining essentially unchanged.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              </p>
            </div>
          </div>
        </div>
        <div> 
          <div class="feedback-slider__item">
            <div class="feedback-image">
              <img src="/img/feedback/feedback-3.jpg">
            </div>
            <div class="feedback-text">
              <p>Федор Фербер</p>
              <p>Предприниматель</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>